    <form action="/square/results">
      <div><label for="num">Enter a number</label></div>
      <div><input id="num" name="number" placeholder="What number do you want?"></div>
      <div><button>Calculate square</button></div>
    </form>
