    <form action="/square_root/results">
      <div>
        <label for="a_num">Enter a number</label>
        <input id="a_num" name="user_number" placeholder="What number do you want to take the square root of?">
      </div>
      <button>Calculate square root</button>
    </form>
